logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
/db
.eclipse
.bsp
/lib/
/logs/
/project/target
/project/project
/commons/target
/export/target
/reporting/target
target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.history
*.csv
metastore_db
spark-warehouse/
